.floatingButton {
  position: absolute;
  right: 30px;
  bottom: 100px;
  border: none;
  background-color: var(--bs-blue);
  border-radius: 50% !important;
  color: var(--bs-white);
  font-size: 1.5rem !important;
  height: 2.5rem;
  width: 2.5rem;
}
